* {
    margin: 0;
}

.contenedor {
    background: rgb(225, 235, 236);
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
}

p {
    font-size: xx-large;
    margin-bottom: 20px;
}

button {
    font-size: xx-large;
    padding: 0.75em;
    cursor: pointer;
}

#yesBtn {
    transform: translate(-100%, 0);
    transition: transform 0.3s ease;
}

#noBtn {
    position: absolute;
    transition: transform 0.3s ease;
}
